/* background component css */
* {
  font-family: "Lexend";
}

.header {
  display: flex;
}

h1 {
  margin: 0;
  padding: 2vh 0;
}
.text-div {
  color: rgb(68, 68, 68);
  padding: 5vh 6vh;
  display: flex;
  flex-direction: column;
  font-size: 42px;
  font-weight: 550;
  width: 250px;
  height: 500px;
  word-wrap: break-word;
  z-index: 1;
  line-height: 1.1;
}

/* main content css */
.main-content {
  position: absolute;
  top: 15.6vh;
  left: 28vh;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 1fr 110px 1fr;
}

/* collectibles css */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 400px;
  width: 100%;
  border-radius: 40px;
  color: white;
  font-weight: 900;
}

.Coll-images {
  width: 40vh;
  height: 60vh;
  opacity: 0.8;
}

.details h2,
p {
  margin: 0;
  padding: 0;
}
